@import "partials/mixins";
@import "partials/variables";
@import "partials/functions";

.contacts-header {
	color: $main-color;
	margin-bottom: rem(56px);
	position: relative;
	@media (max-width: 767px) {
		height: auto;
	}
	&::before {
		content: "";
		position: absolute;
		bottom: -12%;
		right: 0;
		display: block;
		width: rem(1026px);
		height: rem(908px);
		z-index: -1;
		background: url(../images/benefits.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		@media (max-width: 991px) {
			width: 100%;
		}
	}
	& .page-header {
		&__wrapper {
			padding: rem(56px) 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
		}
		&__box_1 {
			@media (max-width: 767px) {
				justify-content: flex-start;
			}
		}
		&__box_2 {
			@media (max-width: 767px) {
				position: relative;
				top: unset;
				left: unset;
				right: unset;
				bottom: unset;
			}
		}
		&__rect {
			background: $main-color;
		}
	}
}

.contacts-list {
	display: grid;
	gap: rem(24px);
	grid-template-columns: repeat(3, 1fr);
	@media (max-width: 1023px) {
		grid-template-columns: repeat(2, 1fr);
		max-width: 90%;
	}
	@media (max-width: 767px) {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(3, 1fr);
		margin-top: rem(24px);
		max-width: 500px;
	}
	&__item {
		position: relative;
		background: color-white(255, 255, 255, 0.9);
		border: 1px solid #f0f0f0;
		box-sizing: border-box;
		backdrop-filter: blur(rem(12px));
		border-radius: rem(14px);
		padding: rem(24px) rem(36px) rem(32px) rem(32px);
	}
	&__icon {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(76px);
		height: rem(42px);
		background: $main-color;
		border-radius: 0px rem(14px) 0px rem(12px);
	}
	&__title {
		margin-bottom: rem(8px);
	}
	&__text {
		font-size: rem(20px);
		line-height: rem(28px);
		font-weight: 700;
		color: $text-color;
	}
}

// ADAPTIVE
@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
}
