extends ../../pug/base/base

append vars
	- lang = "de"
	- currentPage = 'licenses'
	- baseDir = lang == "en" ? baseDir : "../"
	- title = titles.licenses[lang]

//- prepend styles (если нужно добавить ссылку на стили до базовой)
append styles
	link(rel="stylesheet" href=`${baseDir}assets/css/licenses.min.css`)

block header
	include ../../pug/blocks/licenses/licensesHeader.pug

block content
	include ../../pug/blocks/licenses/licensesList.pug

//- prepend scripts (если нужно добавить ссылку на скрипты до базовой)
append scripts