.main-footer {
	user-select: none;
	background: $main-color;
	padding: rem(16px) 0 rem(42px);
	color: white;
	& .nav {
		&-title {
			color: white;
			margin-left: rem(12px);
		}
		&-brend {
			margin-bottom: rem(24px);
			padding: rem(8px) 0;
			width: max-content;
		}
	}
}

.footer {
	&-content {
		padding-top: rem(24px);
		color: color-white(255, 255, 255, 0.8);
		font-size: rem(12px);
		line-height: rem(16px);
	}
	&-mail {
		margin-bottom: rem(16px);
	}
	&-copy {
		margin-top: rem(24px);
	}
	&-menu {
		&-list {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding: rem(40px) 0;
			border-top: 1px solid color-white(255, 255, 255, 0.1);
			border-bottom: 1px solid color-white(255, 255, 255, 0.1);
			& a{
				display: block;
				font-size: rem(20px);
				line-height: rem(28px);
				font-weight: 700;
			}
		}
	}
}


@media (max-width: 539px){
	.footer-menu-list{
		flex-wrap: wrap;
		&__item{
			flex: 0 1 50%;
			padding: rem(8px) rem(16px);
		}
	}
}

@media (max-width: 375px){
	.footer-menu-list{
		flex-direction: column;
		& a{
			font-size: rem(16px);
			line-height: rem(26px);
		}
	}
}
