extends ../pug/base/base

//- mixins 
include ../pug/mixins/marketHeaderMixin.pug
include ../pug/mixins/marketProfitsMixin.pug
include ../pug/mixins/marketAssetsMixin.pug
include ../pug/mixins/marketQuotesMixin.pug

append vars
	- lang = "en"
	- currentPage = 'commodities'
	- baseDir = lang == "en" ? baseDir : "../"
	- title = titles.commodities[lang]

//- prepend styles (если нужно добавить ссылку на стили до базовой)
append styles
	link(rel="stylesheet" href=`${baseDir}assets/css/markets.min.css`)

block header
	+marketHeader(commoditiesHeaderText, "commodities-header")

block content
	+marketProfits(commoditiesProfitsText, "commodities")
	+marketAssets(commoditiesAssetsText)
	+marketQuotes("commodities")

//- append scripts (если нужно добавить ссылку на скрипты после базовой)
prepend scripts
	<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>