.section-benefits {
	&:after {
		content: "";
		position: absolute;
		bottom: -35%;
		left: 0;
		display: block;
		width: 41.25rem;
		height: 48.75rem;
		z-index: -1;
		background: url(../images/background-history.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}
@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 921px) {
}

@media screen and (max-width: 767px) {
}

@media (max-width: 539px) {
}
