html,
body {
	font-size: 100%;
}

main {
	overflow-x: hidden;
}

body {
	font-family: $font-second;
	font-weight: 400;
	color: $text-color;
	font-size: rem(16px);
	line-height: rem(26px);
	overflow-x: hidden;
	&.lock {
		overflow: hidden;
	}
	&::-webkit-scrollbar {
		width: 4px;
	}
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 14px 14px rgba(196, 196, 196, 0.2);
		border-radius: rem(24px);
	}
	&::-webkit-scrollbar-thumb {
		box-shadow: inset 0 0 14px 14px #c4c4c4;
		border-radius: rem(24px);
	}
}

/* set button(top and bottom of the scrollbar) */

::-webkit-scrollbar-button {
	display: none;
}

.event-none {
	pointer-events: none;
}

img {
	max-width: 100%;
}

a {
	color: inherit;
}

//FONTS
.h1-title,
.h2-title,
.h3-title {
	&.white-color {
		color: white;
	}
}

.h1-title,
.h2-title {
	text-transform: uppercase;
	font-family: $font-main;
	font-weight: 800;
}

.h1-title {
	font-size: rem(60px);
	line-height: rem(68px);
	letter-spacing: -0.02em;
	margin-bottom: rem(24px);
}

.h2-title {
	font-size: rem(48px);
	line-height: rem(58px);
	margin-bottom: rem(48px);
	color: $text-color;
}

.h3-title {
	font-size: rem(20px);
	line-height: rem(24px);
}

.subtitle {
	font-family: $font-main;
	font-weight: 700;
}

.description {
	font-size: rem(16px);
	line-height: rem(26px);
	letter-spacing: -0.02em;
	color: $text-color;
}

.text-main-color {
	color: $main-color;
}

.slick-dots {
	cursor: pointer;
}

// BUTTONS
.btn {
	display: inline-block;
	width: max-content;
	font-family: $font-main;
	font-size: rem(18px);
	line-height: rem(22px);
	letter-spacing: -0.02em;
	font-weight: 700;
	white-space: nowrap;
	text-align: center;
	color: white;
	border-radius: rem(12px);
	transition: 0.3s ease;
	&.btn-main {
		background: $main-color;
		&:hover {
			background: #2d35f6;
			box-shadow: 0px 4px 12px rgba(45, 53, 246, 0.19);
		}
		&:active {
			background: $main-color;
			box-shadow: 0px 4px 12px rgba(45, 53, 246, 0.19), inset 0px -1px 8px rgba(0, 0, 0, 0.25);
		}
	}
	&.btn-big {
		padding: rem(17px) rem(40px);
		&:hover {
			background: #2d35f6;
			box-shadow: 0px 4px 12px rgba(45, 53, 246, 0.19);
		}
		&:active {
			background: $main-color;
			box-shadow: 0px 4px 12px rgba(45, 53, 246, 0.19), inset 0px -1px 8px rgba(0, 0, 0, 0.25);
		}
	}
	&.btn-sm {
		min-width: auto;
		border-radius: rem(8px);
		padding: rem(6px) rem(20px);
		font-weight: 600;
		font-size: rem(14px);
		line-height: rem(28px);
	}
	&.btn-accent {
		background: $link-color;
		&:hover {
			background: #ff7f57;
			box-shadow: 0px 4px 8px rgba(255, 127, 87, 0.34);
		}
		&:active {
			background: #ff7f57;
		}
	}
	&.btn-second {
		background: white;
		color: $main-color;
		border: 1px solid $main-color;
		&:hover {
			color: $main-color;
			background: color-third(71, 77, 218, 0.1);
			border-color: color-third(71, 77, 218, 0.1);
		}
		&:active {
			color: white;
			background: $main-color;
			border-color: $main-color;
		}
	}
	&.btn-white {
		color: $main-color;
		background: white;
		padding: rem(16px) rem(40px);
		border: 1px solid white;
		&:hover {
			color: color-white(255, 255, 255, 0.9);
			border-color: color-white(255, 255, 255, 0.7);
			background: color-white(255, 255, 255, 0.2);
		}
		&:active {
			border-color: color-white(255, 255, 255, 0.2);
		}
	}
}

.nav .btn,
.markets-list .btn,
.header-404 .btn,
.form-wrapper .btn {
	font-family: inherit;
	font-weight: 600;
	font-size: rem(14px) !important;
	line-height: rem(28px) !important;
	letter-spacing: 0 !important;
	&.btn-main {
		padding: rem(10px) rem(32px);
	}
	&.btn-second {
		padding: rem(9px) rem(32px);
	}
}

//UTILITY
.wrapper {
	height: 100%;
	max-width: rem(1304px);
	margin: 0 auto;
	padding: 0 rem(32px);
}

.text-center {
	text-align: center;
}

.section {
	padding: rem(56px) 0;
	overflow: hidden;
	position: relative;
}

.img {
	width: 100%;
	// height: 100%;
	object-fit: cover;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	margin: -1px;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.nobr {
	white-space: nowrap;
}

.visible-xs {
	display: none;
}

// ADAPTIVE
@media screen and (max-width: 1280px) {
	html,
	body {
		font-size: 80%;
		p {
			font-size: 130%;
			line-height: 150%;
		}
	}
}

@media screen and (max-width: 1023px) {
	.h1-title,
	.h2-title {
		font-family: $font-main;
		font-size: rem(30px);
		line-height: rem(40px);
	}
	.h2-title {
		margin-bottom: rem(24px);
	}
	.btn {
		&.btn-big {
			min-width: rem(165px);
		}
	}
}

@media screen and (max-width: 767px) {
	.wrapper {
		padding: 0 rem(16px);
	}
}

@media screen and (max-width: 580px) {
	.visible-xs {
		display: block;
	}
	.hidden-xs {
		display: none;
	}
}
