.main,
.page {
	&-header {
		position: relative;
		height: rem(700px);
		padding: 0 0 rem(56px);
		margin-top: rem(65px);
	}
	&-slider {
		padding-bottom: 6px;
		& .slick-dots {
			width: rem(400px);
		}
		&__wrapper {
			padding-bottom: 64px;
			display: flex;
			flex-direction: column;
			height: 100%;
			align-items: baseline;
			z-index: 2;
		}
	}
}

.main-slider,
.page-header {
	&__box_1 {
		display: flex !important;
		width: 100% !important;
		justify-content: flex-end;
	}
	&__box_2 {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&__item {
		position: relative;
		height: 100%;
		display: block;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&__title {
		max-width: rem(768px);
	}
	&__text {
		margin-left: rem(8px);
		display: block;
		max-width: rem(440px);
	}
	&__description {
		display: flex;
		margin-bottom: rem(32px);
	}
	&__rect {
		display: block;
		width: rem(8px);
		min-width: rem(8px);
	}
	&__img {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: rem(636px);
		& img {
			width: 100%;
		}
	}
}

.markets-header,
.trading-header,
.licenses-header {
	color: $main-color;
	& .page-header {
		&__rect {
			background: $main-color;
		}
		&__wrapper {
			padding: rem(128px) 0 rem(56px);
		}
	}
}

.markets-list__img,
.section-quality__img,
.section-platform__img {
	border-radius: rem(36px);
	background: $main-color;
	width: rem(456px);
	height: rem(400px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 rem(456px);
	& img {
		display: block;
		width: rem(364px);
		height: rem(364px);
	}
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1063px) {
	.main-slider,
	.page-header {
		&__info {
			max-width: 55%;
		}
		&__title {
			max-width: 100%;
			word-break: break-word;
		}
	}
}

@media (max-width: 767px) {
	.main-header,
	.page-header {
		height: rem(515px);
		padding: rem(64px) 0 rem(8px);
		&__title{
			max-width: 70%;
		}
		&__info {
			max-width: 100%;
			width: 100%;
		}
		&__wrapper {
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
		}
	}

	.main-slider,
	.page-header {
		&__img {
			width: rem(384px);
			opacity: 0.3;
			height: auto;
		}
		&__wrapper {
			max-width: 100%;
			padding: rem(88px) 0;
		}
	}
}

@media (max-width: 390px) {
	.markets-header,
	.trading-header,
	.licenses-header {
		& .page-header {
			&__title{
				max-width: 100%;
			}
			&__wrapper {
				padding: rem(80px) 0 rem(56px);
			}
		}
	}

	.markets-list,
	.section-platform,
	.section-quality {
		&__img {
			width: rem(294px);
			height: rem(294px);
			max-height: rem(294px);
			& img {
				width: 100%;
				height: auto;
			}
		}
	}
}
