section.section.section-goals
	.section-goals-wrapper
		.wrapper
			h2.h2-title !{aboutGoalsText.h2[lang]}
			.goals-list
				-for(let i = 1; i < 3; i++)
					.goals-list__item(class=["goals-list__item"+i] data-aos="fade-up")
						.goals-list__row
							h3.h3-title.subtitle !{aboutGoalsText["goal"+i].title[lang]}
							img.goals-list__img(src=baseDir + ["assets/images/"+i+"goal.svg"] alt="goal" title="goal")
						p.goals-list__text.description !{aboutGoalsText["goal"+i].text[lang]}