.section-calculators {
	&__title {
		margin-bottom: rem(16px);
	}
	&__description{
		margin-bottom: rem(32px);
	}
}

.section-estimation {
	& .clc-results {
		margin-bottom: rem(48px);
	}
}

.estimation {
	&__rect {
		width: rem(8px);
		min-width: rem(8px);
		background: $main-color;
	}
	&__description {
		display: flex;
		height: 100%;
		gap: rem(20px);
		margin-bottom: rem(32px);
	}
	&__text {
		font-family: $font-main;
		font-weight: 700;
		font-size: rem(20px);
		line-height: rem(24px);
		letter-spacing: -0.02em;
	}
	&-list {
		display: flex;
		flex-wrap: wrap;
		&__box {
			width: 50%;
			@media (max-width: 539px) {
				width: 100%;
			}
		}
		&__item {
			display: flex;
			font-weight: 600;
			font-size: rem(14px);
			line-height: rem(28px);
			margin-bottom: rem(12px);
			&:last-child,
			&:nth-child(4) {
				margin-bottom: 0;
			}
			& .description {
				color: text-color(28, 31, 97, 0.7);
				transform: matrix(1, 0, 0, 1, 0, 0);
				max-width: rem(440px);
				white-space: break-spaces;
				margin-left: rem(8px);
				font-size: rem(14px);
				line-height: rem(28px);
				font-weight: 400;
			}
		}
	}
}

// ADAPTIVE
@media screen and (max-width: 1280px) {
	.section-estimation {
		padding: rem(64px) 0;
		.clc-table__item {
			max-width: 173px;
		}
	}
}

@media screen and (max-width: 1023px) {
	.section-calculators {
		padding: rem(64px) 0 0;
	}
}

@media screen and (max-width: 930px) {
	.estimation {
		&-list {
			&__item {
				flex-direction: column;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.section-calculators__description {
		flex-direction: column;
	}
}
