extends ../../pug/base/base

//- mixins 
include ../../pug/mixins/marketHeaderMixin.pug
include ../../pug/mixins/marketProfitsMixin.pug
include ../../pug/mixins/marketAssetsMixin.pug
include ../../pug/mixins/marketQuotesMixin.pug

append vars
	- lang = "fr"
	- currentPage = 'indices'
	- baseDir = lang == "en" ? baseDir : "../"
	- title = titles.indices[lang]

//- prepend styles (если нужно добавить ссылку на стили до базовой)
append styles
	link(rel="stylesheet" href=`${baseDir}assets/css/markets.min.css`)

block header
	+marketHeader(indicesHeaderText, "indices-header")

block content
	+marketProfits(indicesProfitsText, "indices")
	+marketAssets(indicesAssetsText)
	+marketQuotes("index")

//- append scripts (если нужно добавить ссылку на скрипты после базовой)
prepend scripts
	<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>