.table-wrapper {
	box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.15);
	height: auto;
	max-height: calc(100vh - 150px);
	overflow-y: auto;
	border-radius: rem(8px);
	border: 1px solid text-color(28, 31, 97, 0.1);
	scrollbar-color: $main-color color-text(28, 31, 97, 0.04);
	scrollbar-width: thin;
	&::-webkit-scrollbar-track {
		background: text-color(28, 31, 97, 0.04);
		width: rem(6px);
		border-radius: rem(24px);
		margin: rem(90px) 0 rem(16px);
	}
	&::-webkit-scrollbar {
		width: rem(8px);
		height: rem(8px);
	}
	&::-webkit-scrollbar-thumb {
		background: $main-color;
		border-radius: rem(24px);
	}
}

.table-trade {
	border-collapse: collapse;
	width: 100%;
	color: $text-color;
	& thead {
		position: sticky;
		top: 0;
		background: #f7f7fd;
		line-height: rem(20px);
		font-weight: 400;
		font-size: 14px;
		color: #1c1f61;
	}
	& th {
		vertical-align: baseline;
		&:nth-child(4) {
			max-width: 100px;
		}
		&:nth-child(5) {
			max-width: 120px;
		}
	}
	& td {
		font-weight: 600;
		line-height: rem(28px);
	}
	& td,
	& th {
		padding: rem(16px) rem(8px) rem(16px) rem(32px);
		border-bottom: 1px solid text-color(28, 31, 97, 0.1);
		font-size: rem(14px);
		text-align: left;
		&:last-child {
			white-space: nowrap;
		}
	}
	.btn {
		&:first-child {
			margin-right: rem(6px);
		}
	}
}

.footnote {
	margin-top: rem(16px);
}

.section-graph {
	padding-bottom: rem(112px);
	& .graph-wrapper {
		height: calc(100vh - 250px);
		border: 1px solid text-color(28, 31, 97, 0.1);
		overflow: hidden;
	}
	& #tradeview {
		height: calc(100% + 2px);
		margin: -1px;
	}
}


// ADAPTIVE
@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
}
