.section-profits {
	overflow: unset;
	&::before {
		content: "";
		position: absolute;
		bottom: -12%;
		right: 0;
		display: block;
		width: rem(250px);
		height: rem(680px);
		z-index: -1;
		background: url(../images/benefits.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	&::after {
		content: "";
		position: absolute;
		top: -20%;
		left: 0;
		display: block;
		width: 41.25rem;
		height: 48.75rem;
		z-index: -1;
		background: url(../images/background-history.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	&-wrapper {
		color: $text-color;
	}
}

.section-profits__wrapper {
}

.profits-list {
	&__item {
	}
	&__img {
	}
	&__title {
	}
	&__text {
	}
}

.profits-list__text {
}

// ADAPTIVE
@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1023px) {
}

@media (max-width: 767px) {
	.section-profits{
		&::after{
			top: -14%;
		}
	}
}

@media (max-width:539px){
	.section-profits{
		&::after{
			top: -9%;
		}
	}
}
