.market-header {
	position: relative;
	color: white;
	margin-top: rem(56px);
	padding: rem(56px) 0;
	&__item {
		display: flex;
		justify-content: space-between;
		height: rem(360px);
		background: $main-color;
		backdrop-filter: blur(rem(30px));
		border-radius: rem(24px);
	}
	&__wrapper {
		padding: rem(56px) 0 rem(56px) rem(48px);
	}
	&__title {
		margin-bottom: rem(16px);
	}
	&__text {
		max-width: rem(420px);
		color: white;
		margin-bottom: rem(32px);
	}
	&__img {
		& img {
			width: auto;
			height: 100%;
		}
	}
}

.commodities-header {
}
.crypto-header {
}
.forex-header {
}
.indices-header {
}
.metals-header {
}
.stocks-header {
}

// ADAPTIVE
@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
	.market-header {
		&__item {
			height: auto;
			flex-direction: column;
			padding: rem(32px) rem(48px);
		}
		&__img {
			order: 1;
			& img {
				display: block;
				margin: 0 auto;
			}
		}
		&__wrapper {
			order: 2;
			padding: 0;
			text-align: center;
		}
	}
}
