.popup.form-wrapper.login-form.mfp-hide#twoauthstep-popup
	h2.h1-title !{formsText.titleTwoauth[lang]}
	form#twoauthstep-form.main-form(method="post")
		.form-item
			.form-item_wrapper
				label.form-item_label.description(for="auth-code") !{formsText.lableTwoauth[lang]}
				input.form-item_input#auth-code(type="text" required name="code" placeholder= formsText.placeholderTwoauth[lang])
		.text-center
			button.js--send-authcode.btn.btn-main(type="submit") !{buttonText.btnSend[lang]}
