header.header
  .container
    .header__logo
      a(href="#")
    .header__menu
      .header__menu_1(onclick="popupOpen('popup_callback_1')") Чат центр
      .header__menu_dash |
      .header__menu_2(onclick="popupOpen('popup_callback_2')") Колл центр