.overlay.hidden#popup_callback_1
  .overflow
    .overflow__box.popup
      .screen_callback
        .screen_callback__box_1
          h3.screen_callback__title Внимание! изменение на сайте!
          p Пожалуйста, чтобы продолжить работу (оформить заказ), ознакомьтесь с информацией:
            <a href="#"> Нововведения от  29.10.2020 г.</a> — Ожидаем ваше подтверждение,кнопка “Я ознакомился”
          .screen_callback__row
            input(type="radio" name="rules" id="rules")(onclick="popupClose('popup_callback_1')")
            label(for="rules") Я ознакомился


.overlay.hidden#popup_callback_2
  .overflow
    .overflow__box.popup
      .overflow__box_close(onclick="popupClose('popup_callback_2')")
      .screen_callback
        .screen_callback__box_1
          h2.screen_callback__title Внимание! Изменение на сайте.
          p Пожалуйста, чтобы продолжить работу (оформить заказ), ознакомьтесь с информацией:
    .overflow__close(onclick="popupClose('popup_callback_2')")



