.section {
	&-benefits,
	&-history {
		overflow: unset;
		&::before {
			content: "";
			position: absolute;
			bottom: -12%;
			right: 0;
			display: block;
			width: rem(560px);
			height: rem(680px);
			z-index: -1;
			background: url(../images/benefits.png);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
		&-wrapper {
			color: $text-color;
		}
	}
}

.benefits-list,
.profits-list,
.history-list,
.goals-list {
	display: grid;
	display: -ms-grid;
	gap: rem(24px);
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	-ms-grid-columns: 1fr rem(24px) 1fr;
	-ms-grid-rows: 1fr rem(24px) 1fr;
	&__text {
		max-width: rem(448px);
	}
	&__img {
		width: rem(50px);
		height: rem(50px);
	}
	&__item {
		position: relative;
		background: rgba(255, 255, 255, 0.9);
		border: 1px solid #f0f0f0;
		box-sizing: border-box;
		backdrop-filter: blur(rem(11px));
		border-radius: rem(14px);
		padding: rem(24px);
		&1 {
			-ms-grid-column: 1;
			-ms-grid-row: 1;
		}
		&2 {
			-ms-grid-column: 3;
			-ms-grid-row: 1;
		}
		&3 {
			-ms-grid-column: 1;
			-ms-grid-row: 3;
		}
		&4 {
			-ms-grid-column: 3;
			-ms-grid-row: 3;
		}
	}
	&__row {
		display: flex;
		justify-content: space-between;
		margin-bottom: rem(-8px);
		& h3 {
			margin: 0.5rem 0 1rem;
			height: unset;
		}
	}
}

@media screen and (max-width: 921px) {
	.benefits-list,
	.profits-list,
	.history-list,
	.goals-list {
		&__row {
			margin-bottom: rem(8px);
		}
	}
}

@media screen and (max-width: 767px) {
	.section-benefits,
	.section-profits,
	.section-history {
		&::before {
			bottom: -8%;
		}
	}

	.benefits-list,
	.profits-list,
	.history-list,
	.goals-list {
		&__row {
			flex-direction: column;
			align-items: center;
			& h3 {
				margin: 0;
			}
			& .h3-title {
				order: 2;
			}
		}
		&__img, &__caption {
			order: 1;
			margin-bottom: rem(24px);
		}
	}
}

@media (max-width: 539px) {
	.section-benefits,
	.section-profits,
	.section-history {
		&::before {
			bottom: 0;
		}
	}

	.benefits-list,
	.profits-list,
	.history-list,
	.goals-list {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(4, 1fr);
		-ms-grid-columns: 1fr;
		-ms-grid-rows: 1fr rem(24px) 1fr rem(24px) 1fr rem(24px) 1fr;
		&__item {
			&1 {
				-ms-grid-column: 1;
				-ms-grid-row: 1;
			}
			&2 {
				-ms-grid-column: 1;
				-ms-grid-row: 3;
			}
			&3 {
				-ms-grid-column: 1;
				-ms-grid-row: 5;
			}
			&4 {
				-ms-grid-column: 1;
				-ms-grid-row: 7;
			}
		}
	}
}
