.slick-slider {
    .slick-dotted {}
}

.slick-initialized {
    opacity: 1 !important;
    transition: opacity .3s ease-out;
}

.slick-list {
    overflow: hidden;
    height: 100%;
}

.slick-track {
    display: flex;
    height: 100%;
}

.slick-slide {
    >div {
        height: 100%;
    }
    .slick-active {}
    .slick-current {}
    .slick-center {}
}

.slick-dots {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 0;
    line-height: 0;
    li {
        .slick-active {
            button {
                display: block;
                &::before {
                    content: none;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.slick-arrow {
    // position: absolute;
    z-index: 10;
    font-size: 0;
    line-height: 0;
    .slick-prev {}
    .slick-next {}
}