/* BEGIN CONTAINER SETTINGS */

.container{
  padding: 0 150px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 1600px) {
    padding: 0 45px;
  }
  @media (max-width: 768px){
    padding: 0 20px;
  }
}

@media (min-width: 320px) and (max-width: 999px) {
  .container {
    width: 100%;
  }
}

/* END CONTAINER SETTINGS */
