/* BEGIN CUSTOM STYLES */

.pointer,
.home,
.self,
label,
[onclick] {
  -webkit-appearance: button;
  cursor: pointer;
}

a,
.a,
a:before,
.a:before,
a:after,
.a:after,
.home,
.self,
label {
  transition: 0.2s;
}
a:hover {
  text-decoration: none !important;
}
a:active,
a:focus {
  color: inherit;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

@mixin overflow-hidden() {
  .overflow-hidden {
    overflow: hidden;
    height: 100%;
  }
}

@mixin popup() {
  .overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.4s;
  }
  .overlay.hidden {
    z-index: -1;
    display: inherit;
    visibility: hidden;
    opacity: 0;
  }

  .overflow {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
  }

  .overflow__box {
    position: relative;
    z-index: 1;
    margin: auto;
    overflow: hidden;
  }

  .overflow__box_close {
    position: absolute;
    z-index: 99;
    top: 12px;
    right: 12px;
    width: 16px;
    height: 16px;
  }

  .overflow__box_close:after {
    cursor: pointer;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url(/assets/img/close.svg) center no-repeat;
    background-size: 16px;
    opacity: 0.5;
    transition: 0.1s linear;
  }

  .overflow__box_close:hover:after {
    opacity: 1;
  }

  .overflow__close {
    cursor: pointer;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/* END CUSTOM STYLES */
