section.section.section-licenses
	.wrapper
		h2.h2-title !{titles.licenses[lang]}
		.licenses-list
			-for(let i = 1; i < 9; i++)
				.licenses-list__item(class=["licenses-list__item"+i] data-aos="fade-up")
					.licenses-list__img
						img(src=baseDir + ["assets/images/"+i+"license.svg"] alt="license" title="license")
					p.licenses-list__title !{licensesListText["license"+i].title[lang]}
					p.licenses-list__text.description !{licensesListText["license"+i].text[lang]}
