html {
    -ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, hgroup,
blockquote, pre, a, abbr, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var, b, u, center,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, output, summary,
footer, header, section, menu, nav, 
time, mark, audio, video, figure, figcaption, 
form, label, legend, input, button, textarea, fieldset, select,
:before, :after {
    margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
    box-sizing: border-box;
}
:before, :after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
:focus, :active {
    outline: 0;
}
a, a:visited, a:hover {
    text-decoration: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul, ol {
    list-style-position: inside;
}
ul li {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
button, select {
    text-transform: none;
}
button, input {
    line-height: normal;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
button[disabled], input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type="radio"] {
    border: none;
	appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
input[type="search"] {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}