// FONTS
$font-main: "Raleway", sans-serif;
$font-second: "Inter", sans-serif;
$root-font-size: 16px;
//COLORS
$main-color: #393fcc;
$second-color: #474dda;
$bg-color: #000;
$text-color: #1c1f61;
$link-color: #f5693c;
$grey: #f4f4f4;
