.about-header {
	background: $main-color;
	color: white;
	@media (max-width: 767px) {
		height: auto;
	}
	.page-header {
		&__box_2 {
			@media (max-width: 767px) {
				position: relative;
				top: unset;
				left: unset;
				right: unset;
				bottom: unset;
			}
		}
		&__wrapper {
			padding: rem(56px) 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
		}
		&__info {
			@media (max-width: 767px) {
				margin-bottom: 2rem;
			}
		}
		&__rect {
			background: white;
		}
		&__text {
			color: color-white(255, 255, 255, 0.7);
		}
	}
}

.counter-list {
	display: flex;
	justify-content: space-between;
	background: color-white(255, 255, 255, 0.2);
	border: 1px solid #f4f4f4;
	box-sizing: border-box;
	backdrop-filter: blur(18px);
	border-radius: rem(16px);
	padding: rem(16px) rem(34px);
	@media (max-width: 767px) {
		flex-wrap: wrap;
		gap: rem(32px) 0;
		justify-content: center;
	}
	&__item {
		text-align: center;
		@media (max-width: 767px) {
			width: 50%;
		}
		& > h3,
		& > p {
			color: white;
		}
	}
	&__title {
		text-transform: uppercase;
		margin-bottom: rem(8px);
	}
	&__text {
		color: color-white(255, 255, 255, 0.9);
		max-width: rem(216px);
	}
}

// ADAPTIVE
@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1063px) {
}

@media (max-width: 767px) {
	.counter-list{
		&__item{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-self: center;
			
		}
	}
}

@media (max-width: 413px) {
	.counter-list{
		gap: rem(32px);
	}
}
