.section-quality {
	overflow: hidden;
	&__title {
	}
	&__description {
	}
	&__item {
	}
	&__img {
	}
}

.section-quality,
.section-platform {
	&__item {
		display: flex;
		align-items: center;
		gap: rem(120px);
	}
	&__text {
		margin-bottom: rem(40px);
	}
}

// ADAPTIVE
@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 921px) {
	.section-quality,
	.section-platform {
		&__item {
			gap: rem(48px);
		}
	}
}

@media screen and (max-width: 767px) {
	.section-quality,
	.section-platform {
		&__item {
			flex-direction: column;
		}
		&__description{
			text-align: center;
		}
	}
}
