extends ../../pug/base/base

append vars
	- lang = "es"
	- currentPage = 'financial-instruments'
	- baseDir = lang == "en" ? baseDir : "../"
	- title = titles.markets[lang]

//- prepend styles (если нужно добавить ссылку на стили до базовой)
append styles
	link(rel="stylesheet" href=`${baseDir}assets/css/markets.min.css`)

block header
	include ../../pug/blocks/financial-instruments/marketsHeader.pug

block content
	include ../../pug/blocks/financial-instruments/marketsList.pug

//- prepend scripts (если нужно добавить ссылку на скрипты до базовой)
append scripts