mixin marketAssets(text, img)
	section.section.section-assets
		.wrapper
			.section-assets__item
				h2.section-assets__title.h2-title(data-aos="fade-up") !{text.title[lang]}
				p.section-assets__text(data-aos="fade-up") !{text.text[lang]}
