mixin marketProfits(text, img)
	section.section.section-profits
		.section-profits__wrapper
			.wrapper
				.profits-list
					-for(let i = 1; i < 5; i++)
						.profits-list__item(class=["profits-list__item"+i] data-aos="fade-up")
							.profits-list__row
								h3.h3-title.subtitle !{text["profit"+i].title[lang]}
								img.profits-list__img(src=baseDir + ["assets/images/profit_"+img+i+".svg"] alt="profit" title="profit")
							p.profits-list__text.description !{text["profit"+i].text[lang]}
